body{
    font-family: 'MaplestoryOTFLight';
    margin: 0px;
    padding: 0px;
    color: black;
    box-sizing: border-box;
    background: #F0F8FF;
}

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }


.box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white; 
    padding: 40px;
    box-sizing: border-box; 
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box h2{
    margin: 0 0 40px;
    padding: 0;
    color: #2AC1BC;
    text-transform: uppercase;
    text-align: center;
}

.box input{
    padding: 10px 0; 
    width:320px;
    margin-bottom:  30px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}



.box input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #2AC1BC;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box form div{
    position: relative;
}

.box form div label{
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.box input:focus ~ label,
.box input:valid ~ label{
    top: -12px;
    left:0;
    color:#2AC1BC;
    font-size: 12px;
    font-weight: bold;
}

.box input:focus,
.box input:valid{
    border-bottom: 2px solid #2AC1BC;
}