*{
    font-family: 'MaplestoryOTFLight';
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    list-style:none;
}

@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body{
    font-family: 'BMJUA';
    background: #F0F8FF;
}
.header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2ac1bc;
  padding-left: 200px;
  position: fixed;
  z-index: 1;

}
.header h1 a {
  text-decoration: none;
  color: white;
}
.header a:hover {
  color: black;
}

/*nav 부분*/
.nav {
  padding-right: 413px;
}
.nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav ul li a {
  text-decoration: none;
  color: white;
}
.nav ul li a:hover {
  color: black;
}

.blank{
    width:100%;
    height:100px;
}

.blackinlist{
    width:100%;
    height:50px;
}

.button{

    border-radius: 30px;
    width:160px;
    height:40px;
    border:0px;
    box-shadow: 3px 3px 5px  #BEC5D0;
}

.button:hover{
    box-shadow: 0px 0px 0px;
}

.button:active{
    box-shadow: inset 3px 3px 5px #BEC5D0;
}

.logoarea{
    width:100%;
    margin:auto;
    max-width:1170px;
    height: 70px;
}

.logo{
    color:white;
    line-height: 70px;
}

#section{
    width: 79%;
    margin: auto;
}

.intro{
    margin: 35px 0px;
}

.intro h3{
    /*margin-left: 17px;*/
    color:#2AC1BC;
}

.firstsection{
    display:flex;
}
.pleaselogin{
    margin: 300px 0 0 0;
}
.myprofilearea{
    background:white;
    width:25%;
    max-width: 250px;
    height:615px;
    border-radius:10px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.1);

}

.myprofile{
    margin: 35px 15px;
    text-align: center;
}

.myprofile p{
    color: gray;
}
.myprofile img{
    margin: 0 auto;
}

.level{
    margin: 30px 0 0 0;
}
.badge{
    background: cornflowerblue;
    width: 100px;
    height: 100px;
    border-radius: 70%;
    margin: 10px auto;
}

.username{
    margin: 30px 0 0 0;
}
.lastexercise{
    margin: 100px 0 50px 0;
}

.address{
    margin: 50px 0 50px 0;
}

.phonenumber{
    margin: 0 0 30px 0;
}


.testarea{
    width:80%;
    /*max-width:1100px; 화면 비율 100%일때*/
    max-width:1500px;
    /*height:600px; 화면 비율 100%일때*/
    height:600px;
    margin: 0 auto;
}

.dataprofilearea{
    background:white;
    width:100%;  
    height:300px;
    border-radius:10px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.1); 
}

.dataprofilearea h3{
    text-align: center;
    position: relative;
    top: 10px;
}


.listarea{
   text-align: center;
}


.weightlist{
    position:relative;
    top:30px;
}

.weight{
    font-size: 50px;

    color:#2ac1bc;
}

.weighttext{
    position:relative;
    top:30px;
    font-size:15px;
}

.listarea li{
    float:left;
    width:25%;
    margin-top:70px;
}


.grapharea{
    width:100%;
    height: 100px;
}

.inputbutton{
    width:100px;
    height: 30px;
    float:right;
    margin: 50px 10px 0 0;
}

.dataprofile1area{
    background:white;
    width:100%;
    height:300px;
    border-radius:10px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.1);
    margin: 15px 0 0 0;

}

.dataprofile1area h3{
    text-align: center;
    position: relative;
    top: 10px;
}


.dataprofile2area{
    background:white;
    width:100%;  
    height:300px;
    border-radius:10px;
    box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.1);
    margin: 15px 0 0 0;
    
}

.montharea{
    display: inline-block;
    height: 250px;
    margin-top: 20px;
}

.inputbutton2{
    width:100px;
    height: 30px;
    float:right;
    margin: -20px 10px 0 0;
}

.complete{
    color:#2AC1BC;
    text-align: center;
    width:100%;
    padding: 200px 0;
}