
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}

#header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #F0F8FF;
    nav 바 색상*/
    z-index: -1;
    transition: 0.3s all;
    opacity: 0;
}

#header h1 {
    position: absolute;
    left: 30px;
    top: 40px;
}

#header h1 a {
    display: block;
    text-indent: -999em;
    width: 220px;
    height: 50px;
    background: url('../image/logo.png') no-repeat 50% 50% / 100% auto;
    transition: 0.3s all;
}

#header .inner {
    position: relative;
    max-width: 1548px;
    padding: 0 15px;
    margin: 0 auto;
}

#header .gnb {
    float: right;
    padding: 47px 0;
}

#header .gnb ul:after {
    content: '';
    display: block;
    clear: both;
}

#header .gnb ul li {
    float: left;
    margin-right: 90px;
}

#header .gnb ul li:first-child {
    margin-left: 70px;
}

#header .gnb ul li a {
    position: relative;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    display: block;
    font-weight: 900;
}

#header .btn_menu {
    display: none;
}

#header .all_menu_wrap {
    display: none;
}

body.fixed #header:after {
    opacity: 0.9;
}

body.fixed #header h1 a {
    background-image: url('../image/logo.png');

}

body.fixed #header .gnb ul li a {
    color: black;
    transition: color 0.2s ease-in-out;
}

body.fixed #header .gnb ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 0;
    height: 5px;
    background: #000;
    transition: width 0.2s 0.1s ease-in-out;
}
header{
    background-color: #73AEF7;
}
body.fixed #header .gnb ul li.active a {
    color: #000;
}

body.fixed #header .gnb ul li.active a:after {
    width: 100%;
}
