{% extends 'base.html' %}
{% block content %}
<div class="mainpage">
    <div class="firstsection">
        <div class="myprofilearea">
            <div class="myprofile">
                {% if g.user%}
                <p>프로필</p>
                <h2 class="username">{{ g.user.user_name}} </h2>
                <br>
                <h6 class="email">{{ g.user.user_}}</h6>
                <br>
                {% if profile_last_exercise %}
                <p class="lastexercise">{{ profile_last_exercise[0].create_date|datetime }}<br>마지막으로 운동한 날</p>
                <br>
                {% else %}

                <br>
                {% endif %}
                <p class="phonenumber"> {{ g.user.phone}}<br>핸드폰 번호</p>
                <br><br><br>
                <input type="button" value="프로필 수정하기" class="button" onClick="location.href='/input/profilechange'">
                {% else %}
                <h2>마이 프로필</h2>
                <p class="pleaselogin">로그인을 해주세요</p>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="container my-3">
        <div id="section">
            <div class="col-4 input-group">
                <input type="text" class="form-control kw" value="{{ kw or '' }}" placeholder="검색어를 입력해 주세요">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
        <div id="whole-body">
            <div id="wrapper" class="clearfix">
                <div id="twocols" class="clearfix">
                    <div id="content-area" class="">
                        <div id="post-area" class="post-area">
                            <div class="post">
                                <div class="post-back">

                                    <table class="post-body" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="bcl" nowrap="nowrap"></td>
                                            <td class="bcc">
                                                <div id="prologue">
                                                    <div id="BlogRecentDiv"></div>
                                                    <dl class="p_post_top">
                                                        <div class="row">
                                                            {% if question_list, signup__data %}
                                                            {% for question in question_list.items %}
                                                            <div class="col-md-3">
                                                                <dd class="p_photo_d">
                                                                    <p class="p_img">
                                                                        <a href="{{ url_for('question.detail', question_id=question.id) }}">
                                                                            <img src="{{ url_for('static', filename='image/tripimg.png') }}"
                                                                                 width="179" height="185">
                                                                        </a>
                                                                    </p>
                                                                    <ul>
                                                                        <li class="p_title">
                                                                            <a href="{{ url_for('question.detail', question_id=question.id) }}">{{
                                                                                question.subject }}</a>
                                                                            {% if question.answer_set|length > 0 %}
                                                                            {% endif %}
                                                                        </li>
                                                                        <li>
                                                                            <a href="https://www.google.co.kr/maps/place/{{question.local}}">{{ question.local }}</a>
                                                                        </li>
                                                                        <li class="p_date">
                                                                            <span class="pcol2 fil5">{{ question.create_date|datetime }}</span>
                                                                        </li>

                                                                    </ul>
                                                                </dd>
                                                            </div>
                                                            {% endfor %}
                                                            {% else %}
                                                            <div class="col-md-12">
                                                                <p>No questions found.</p>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                    </dl>
                                                </div><!-- 프롤로그 -->


                                            </td>
                                            <td class="bcr" nowrap="nowrap"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="post-footer" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td class="ftl" nowrap="nowrap"></td>
                                            <td class="ftc"></td>
                                            <td class="ftr" nowrap="nowrap"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <script type="text/javascript">
                                var event_category = "prologue";
                            </script>


                            <script type="text/javascript">
                                var fromClosedPost = "" === "true";

                                var nilOptions = {
                                    devMode: "true" === "false",
                                    topReferer: (function () {
                                        if (fromClosedPost) {
                                            return '';
                                        }

                                        var ref = "";
                                        var isMobile = function () {
                                            return window.location.host.indexOf('m.blog.naver.com') >= 0;
                                        };

                                        if (isMobile()) {
                                            return document.referrer;
                                        } else {
                                            if (ref == '') {
                                                if (parent != window && parent.location.href == document.referrer) {
                                                    return '';
                                                } else {
                                                    return document.referrer;
                                                }
                                            } else {
                                                return ref;
                                            }
                                        }
                                    })()
                                }
                            </script>
                            <script type="text/javascript"
                                    src="https://ssl.pstatic.net/t.static.blog/mylog/versioning/versioning_nil_ntm-7795059_https.js"
                                    charset="UTF-8"></script>
                            <script type="text/javascript">
                                $Fn(function () {
                                    var nilNtmLibUrl = "https://ssl.pstatic.net/t.static.blog/mylog/versioning//common/js/nilForNtm-89afd2f_https.js";
                                    var sBlogIdForNil = "windchoco";
                                    var gdid = "";
                                    var uri = 'http://blog.naver.com/windchoco';
                                    var relationType = 3;
                                    var referrer = nilOptions.topReferer;
                                    var dimension_1 = "";
                                    if (true) {
                                        var optional_1 = true;
                                    } else {
                                        var optional_1 = false;
                                    }

                                    try {
                                        new nilNtmForBlogCVAnalyst(sBlogIdForNil, uri, relationType, gdid, dimension_1, referrer, optional_1, event_category, nilNtmLibUrl);
                                    } catch (e) {
                                    }

                                }).attach(window, "load");

                            </script>


                        </div>

                    </div>

                </div>

            </div>

        </div>


        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_prev %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.prev_num }}" href="#">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
            {% if page_num != question_list.page %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_num }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.next_num }}" href="#">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        <a href="{{ url_for('question.create') }}" class="btn btn-primary">글 작성하기</a>
    </div>

</div>
<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $("#btn_search").on('click', function () {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
        $(".so").on('change', function () {
            $("#so").val($(this).val());
            $("#page").val(1);
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}