{% extends 'base.html' %}
{% block content %}
<div id="mainPjax">
    <div class="main story">
        <div id="container">
            <div id="list">
                {% if question_list, signup__data %}
                <div id="con_list" class="con_list" style="overflow: hidden;">
                    {% for question in question_list.items %}
                    <div id="c_sty_item_list" class="c_sty_item_list">
                        <div class="item" style="display: block; float: left;">
                            <a class="pjax pj_story" href="{{ url_for('question.detail', question_id=question.id) }}"
                               target="_top">
                                <div class="card">
                                    <div class="thumb">
                                        <a href="{{ url_for('question.detail', question_id=question.id) }}">
                                            <img src="/static/image/{{question.id}}/{{question.img_name}}"
                                                 width="308" height="308">
                                        </a>
                                    </div>
                                    <div style="clear: both;" class="conts-infos">
                                        <h3><a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a></h3>
                                        <!--    <a href="https://www.google.co.kr/maps/place/{{question.local}}">{{ question.local }}</a>-->
                                        <p class="note_conts">{{question.content }}</p><a
                                            href="{{ url_for('question.detail', question_id=question.id) }}"></a></h3>
                                        {% if question.answer_set|length > 0 %}
                                        {% endif %}
                                    </div>
                                    <div class="tp_cnt">
                                            <span class="likes"><img alt="좋아요"
                                                                     src="{{ url_for('static', filename='image/icon-like-heart-off.png') }}">{{ question.answer_set|length }}</span>
                                        <span class="cmt"><img alt="댓글"
                                                               src="{{ url_for('static', filename='image/icon-scomment.png') }}"> {{ question.answer_set|length }}</span>
                                        <li>
                                            <a href="https://www.google.co.kr/maps/place/{{question.local}}">{{
                                                question.local }}</a>
                                        </li>
                                    </div>
                                    <div class="user">
                                        <img data-url="/bz17854" class="usr_img" alt="작성자 프로필 이미지"
                                             src="https://img.tnote.kr/upload/user/1541753953467_t.jpg">
                                        <div class="user_info">
                                            <span class="usr_nm"></span>
                                            <span class="travel">{{ question.create_date|datetime }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div><!-- c_sty_item_list -->
                    {% else %}
                </div><!-- con_list -->
                {% endif %}
            </div><!-- list -->
        </div><!-- container -->
    </div><!-- main -->
</div><!-- mainPjax -->
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_prev %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.prev_num }}" href="#">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
            {% if page_num != question_list.page %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_num }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.next_num }}" href="#">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        <a href="{{ url_for('question.create') }}" class="btn btn-primary">글 작성하기</a>
    </div>

</div>
<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $("#btn_search").on('click', function () {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
        $(".so").on('change', function () {
            $("#so").val($(this).val());
            $("#page").val(1);
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}