{% extends 'base.html' %}

{% block content %}
<div class="mainpage">
    <div class="firstsection">
        <div class="myprofilearea">
            <div class="myprofile">
                {% if g.user%}
                <p>프로필</p>
                <h2 class="username">{{ g.user.user_name}} </h2>
                <br>
                <h6 class="email">{{ g.user.user_}}</h6>
                <br>
                {% if profile_last_exercise %}
                <p class="lastexercise">{{ profile_last_exercise[0].create_date|datetime }}<br>마지막으로 운동한 날</p>
                <br>
                {% else %}

                <br>
                {% endif %}
                <p class="phonenumber"> {{ g.user.phone}}<br>핸드폰 번호</p>
                <br><br><br>
                <input type="button" value="프로필 수정하기" class="button" onClick="location.href='/input/profilechange'">
                {% else %}
                <h2>마이 프로필</h2>
                <p class="pleaselogin">로그인을 해주세요</p>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="container my-3">
        <div id="section">

            <table class="table">
                <tbody>
                {% if question_list %}
                {% for question in question_list.items %}

                <td class="text-center">
                <td class="text-left">
                    <a href="{{ url_for('question.detail', question_id=question.id) }}">
                        <img src="{{ url_for('static', filename='image/img3.png') }}" width="100" height="50">
                    </a>
                    <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>

                    {% if question.answer_set|length > 0 %}
                    <span class="text-center text-danger small ml-2">{{ question.answer_set|length }}</span>
                    {% endif %}
                </td>

                <td> {{ question.create_date|datetime }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>


            <div>
            <dd class="p_photo_d">
            <p class="p_img">
                {% if question_list %}
                {% for question in question_list.items %}
                <a href="{{ url_for('question.detail', question_id=question.id) }}">
                    <img src="{{ url_for('static', filename='image/img3.png') }}" width="179" height="185">
                </a>
            </p>
            <ul>
                <li class="p_title ">
                    <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                    {% if question.answer_set|length > 0 %}
                    <span class="text-center text-danger small ml-2">{{ question.answer_set|length }}</span>
                    {% endif %}
                </li>
                <li class="p_date text-danger small ">
                    <td> {{ question.create_date|datetime }}</td>
                </li>
                {% endfor %}
                {% else %}
            </ul>
            {% endif %}
            </dd>
            </div>


        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_prev %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.prev_num }}" href="#">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
            {% if page_num != question_list.page %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{ page_num }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" data-page="{{ question_list.next_num }}" href="#">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
        <a href="{{ url_for('question.create') }}" class="btn btn-primary">질문 등록하기</a>
    </div>

</div>
<form id="searchForm" method="get" action="{{ url_for('question._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    $(document).ready(function () {
        $(".page-link").on('click', function () {
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $("#btn_search").on('click', function () {
            $("#kw").val($(".kw").val());
            $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
            $("#searchForm").submit();
        });
        $(".so").on('change', function () {
            $("#so").val($(this).val());
            $("#page").val(1);
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}