<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/com.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/story.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tonte.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
    <title>Travelog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    <!-- 2023-04-25 여기 아래 3줄 일단 주석처리함. 오늘 기준 26번째줄하고 코드가 겹쳐서 일단 요거 주석처리하고 필요한거만 주석 빼면 될듯.-->
    <!--<script src="{{ url_for('static', filename='js/ckeditor 2/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/translations/en.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ckfinder.js') }}"></script> -->

    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"></script>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>-->
    <!-- 성동형님 추가 js 및 css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module.css') }}">

    <script src="//cdn.ckeditor.com/4.21.0/full/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<!--    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>-->

    <style>
        .ck-editor__editable {
            min-height:500px;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}
<!— 기본 템플릿 안에 삽입될 내용 Start —>
{% block content %}
{% endblock %}
<!— 기본 템플릿 안에 삽입될 내용 End —>
<!— jQuery JS —>
<!--<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>-->
<!— Bootstrap JS —>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!— 자바스크립트 Start —>
{% block script %}
{% endblock %}
<!— 자바스크립트 End —>


<!-- 모듈 시작 -->
<div class="module">
    <!-- 모듈 -->
    <!--DALL-E와 관련된 https://platform.openai.com/docs/guides/images/introduction-->
    <div class="module-icon module-menu">
        <i class="fas fa-th-large fa-fw"></i>
    </div>
    <div class="module-icons" style="display: none;">
        <!-- 모듈 챗봇 아이콘 -->
        <div class="module-icon chatbot-icon">
            <i class="fas fa-comment-alt fa-fw"></i>
        </div>
        <!-- 모듈 이미지 마스크 제너레이터 아이콘 -->
        <div class="module-icon image-generator-icon">
            <i class="fas fa-image fa-fw"></i>
        </div>
        <!-- 모듈 프롬프트 이미지 제너레이터 -->
        <div class="module-icon c-icon">
            <i class="fas fa-cog fa-fw"></i>
        </div>
    </div>
    <!-- 챗봇 content -->
    <div class="module-content chatbot-content">
        <h3>챗봇</h3>
        <div class="chatbot-messages">
            <!-- 이 div에 메시지가 추가됩니다. -->
        </div>
        <input type="text" class="form-control chatbot-input" placeholder="여기에 텍스트를 입력하세요...">
        <button class="btn btn-primary chatbot-submit">제출</button>
    </div>
    
    <!-- DALL-E content -->
    <div class="module-content image-generator-content">
        <h3>이미지 생성기</h3>
        <label for="image1">마스킹 하고싶은 이미지 원본을 넣으시고 마스킹을 누르세요!</label>
        <input type="file" class="form-control-file image1-input" id="image1" accept="image/*">
        <label for="image2">마스킹 이미지가 들어갑니다!</label>
        <input type="file" class="form-control-file image2-input" id="image2" accept="image/*">
        <textarea class="form-control prompt-input" id="prompt" rows="3" placeholder="여기에 프롬프트를 입력하세요"></textarea>
        <button class="btn btn-primary masking-button">마스킹</button>
        <button class="btn btn-primary dalle-submit" style="display:none;">제출</button>
    </div>

    <div class="module-content c-content" style="display:none;">
        <h3>프롬프트 이미지 제네레이터</h3>
        <input type="text" class="form-control c-dalle-input" placeholder="여기에 텍스트를 입력하세요...">
        <button class="btn btn-primary c-dalle-submit">제출</button>
        <img id="displayedImage" style="display:none; width: 512px; height: 512px;"> <!-- 이미지 크기 수정 -->
        <a class="btn btn-primary" id="downloadBtn" style="display:none;">다운로드</a> <!-- 다운로드 버튼을 <a> 태그로 수정 -->
        <button class="btn btn-primary" id="backBtn" style="display:none;">돌아가기</button> <!-- 돌아가기 버튼 추가 -->
    </div>

 <!-- 챗봇 JavaScript 코드 -->
 <script src="{{ url_for('static', filename='js/module.js') }}" defer></script>

</body>
</html>