<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <title>Travelog</title>
    <link rel="icon" href="{{url_for('static', filename='image/favicon (2).ico')}}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
    <!-- Header start-->
    <header id="header">
        <div class="inner">
            <h1><a href="/">Travelog</a></h1>
            <div class="gnb">
                {% if g.user %}
                <ul>
                    <li><a href='/friends/find_friends'>친구찾기</a></li>
                    <li><a href="/question/list">블로그</a></li>
                    <li><a href="/input">나만의 지도</a></li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">{{ g.user.user_name }} (Loginout)</a>
                    </li>
                </ul>
                {% else %}
                <ul>
                    <li><a href='/friends/find_friends'>친구찾기</a></li>
                    <li><a href="/question/list">블로그</a></li>
                    <li><a href="/input">나만의 지도</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href=/signup>SignUp</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- Header end-->
    <!-- Section start-->
    <div id="section">
        <div class="blank"></div>
        <!-- Fisrt section-->
        <div class="myprofilearea">
            <div class="myprofile">
                {% if g.user%}
                <p>프로필</p>
                <h2 class="username">{{ g.user.user_name}} </h2>
                <br>
                <img src="{{ url_for('static', filename='image/User.png') }}" width="190" height="190">
                <h6 class="email">{{ g.user.user_}}</h6>
                <br>
                {% if profile_last_exercise %}
                <br>
                {% else %}

                <br>
                {% endif %}
                <p class="phonenumber"> {{ g.user.phone}}<br>핸드폰 번호</p>
                <br><br><br>
                <input type="button" value="프로필 수정하기" class="button" onClick="location.href='/input/profilechange'">
                {% else %}
                <h2>마이 프로필</h2>
                <p class="pleaselogin">로그인을 해주세요</p>
                {% endif %}
            </div>
        </div>
        <!-- Second section-->
        <!-- 아래는 로그인이 되어있을땐, isLoggedIn 변수에 true값이 집어넣어지고, userId를 키값으로 하여, 유저들의 커스텀맵이미지를 index.js에서 정의합니다. -->
        <div class="secondsection">
            <div class="mymaparea">
                <div class="mymap">
                    <div id="map" style="width:78%;height:600px;"></div>
                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db3ede3d0cad5ad581623d2c7eff2265"></script>
                    {% if g.user %}
                    <!-- 로그인이 되어있으면 -->
                        <div class="filter-section">
                            <input type="radio" id="myMarkers" name="markerFilter" value="myMarkers" checked>
                            <label for="myMarkers">내 게시물</label><br>
                            <input type="radio" id="friendsMarkers" name="markerFilter" value="friendsMarkers">
                            <label for="friendsMarkers">친구 게시물</label><br>
                            <input type="radio" id="allMarkers" name="markerFilter" value="allMarkers">
                            <label for="allMarkers">전체 게시물</label>
                        </div>
                        <script>
                            var isLoggedIn = true;
                            var userId = "{{ g.user.user_id }}";
                        </script>
                        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
                    {% else %}
                    <!-- 로그인이 안되어있으면 -->
                        <script>
                            var isLoggedIn = false;
                        </script>
                        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--second section end-->
    </div>

</body>
</html>