<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <script src="{{ url_for('static', filename='js/js/popup.js') }}"></script>

    <!-- 그래프 js-->
    <link rel="stylesheet" href="https://naver.github.io/billboard.js/release/latest/dist/theme/datalab.min.css">
    <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.pkgd.min.js"></script>
    <!-- 그래프 js-->
    <title>Travel.log</title>
    <link rel="icon" href="{{url_for('static', filename='image/favicon (2).ico')}}">

</head>
<body>
<div class="wrap">
    <!-- Header start-->
    <div class="jb-box">
        <div class="jb-text">
            <h1><a href="/">Travel.log</a></h1>
            <div class="nav">
                {% if g.user %}
                <ul class="navbar-nav">
                    <li><a href="/question/list">Blog</a></li>
                    <li><a href="/input">MyPage</a></li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">{{ g.user.user_name }} (Loginout)</a>
                    </li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="/question/list">Blog</a></li>
                    <li><a href="/input">MyPage</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href=/signup>SignUp</a></li>
                </ul>
                {% endif %}
            </div>
        </div>

    </div>
    <!-- Header end-->

    <!-- Section start-->
    <div id="section">
        <div class="blank"></div>

        <!-- Fisrt section-->
        <div class="firstsection">
            <div class="myprofilearea">
                <div class="myprofile">
                    {% if g.user%}
                    <p>마이 프로필</p>
                    <h1 class="username">{{ g.user.user_name}} </h1>
                    <h4 class="email">{{ g.user.email}}</h4>

                    {% if profile_last_exercise %}
                    <p class="lastexercise">{{ profile_last_exercise[0].create_date|datetime }}<br>마지막으로 운동한 날</p>
                    {% else %}
                    <p class="lastexercise">---<br>마지막으로 운동한 날</p>
                    {% endif %}
                    <p class="address">{{ g.user.address }}<br>주소</p>
                    <p class="phonenumber"> {{ g.user.phone}}<br>핸드폰 번호</p>
                    <input type="button" value="프로필 수정하기" class="button" onClick="location.href='/input/profilechange'">
                    {% else %}
                    <h2>마이 프로필</h2>
                    <p class="pleaselogin">로그인을 해주세요</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="secondsection">
    <div class="mymaparea">
        <div class="mymap">
            <div id="map" style="width:1000px;height:500px;"></div>

            <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b4bd380c4a33ef749c5eb75bcf6c673"></script>
            <script>
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new kakao.maps.LatLng(37.55892, 126.96989), // 지도의 중심좌표
                        level: 5, // 지도의 확대 레벨
                        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
                    };

                // 지도를 생성한다
                var map = new kakao.maps.Map(mapContainer, mapOption);


                //마커 여러개 생성하기
                var positions = [
                    {
                        title: '안양역',
                        latlng: new kakao.maps.LatLng(37.402707, 126.922044)
                    },
                    {
                        title: '안양역 주위 1',
                        latlng: new kakao.maps.LatLng(37.400707, 126.920044)
                    },
                    {
                        title: '안양역 주위 2',
                        latlng: new kakao.maps.LatLng(37.403007, 126.925044)
                    },
                    {
                        title: '안양역 주위 3',
                        latlng: new kakao.maps.LatLng(37.405707, 126.925044)
                    }
                ];



                for (var i = 0; i < positions.length; i ++) {

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        map: map, // 마커를 표시할 지도
                        position: positions[i].latlng, // 마커를 표시할 위치
                        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시 됨

                    });
                }


                //마커 위에 정보 생성
                var infowindow = new kakao.maps.InfoWindow({
                    content : '<div style="padding:5px;">인포윈도우 :D</div>' // 인포윈도우에 표시할 내용
                });



                //마커에 우클릭 이벤트 등록
                kakao.maps.event.addListener(marker, 'rightclick', function() {
                    var input = prompt('Message');
                    alert(input);
                });

                // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
                kakao.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });

            </script>
        </div>
    </div>
</div>
</body>
</html>