<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Travel-log</title>
    <link rel="icon" href="{{url_for('static', filename='image/favicon (2).ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="text/JavaScript" src="./my-script.js"></script>
<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

<div class="login">
    <div class="login__content">
        <div class="login__img">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_nc1bp7st.json" background="transparent"
                           speed="1" style="width: 520px; height: 520px;" loop autoplay></lottie-player>
        </div>
        <div class="login__forms">
            <form method="post" class="login__register" id="login-in">
                {{ form.csrf_token }}
                {% if form.errors %}
                {% include "form_errors.html" %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items() %}
                    <strong>{{ form[field].label }}</strong>
                    <ul>
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- flash 오류 -->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                <div class="login__forms">
                    <h1 class="login__title">Sign In</h1>
                    <div>
                        <div class="login__box" class="login__regist1">
                            <i class="iconify login__icon" data-icon="fluent-emoji-high-contrast:id-button"></i>
                            <input type="text" placeholder="Id" class="login__input" name="userid" required=""
                                   autocomplete="off" class="login_input" ,
                                   value="{{ form.userid.data or '' }}">
                        </div>
                    </div>
                    <div>
                        <div class="login__box">
                            <i class='bx bx-lock login__icon'></i>
                            <input type="password" placeholder="Password" class="login__input" name="password"
                                   required="" autocomplete="off" class="login_input" ,
                                   value="{{ form.password.data or '' }}">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Sign In" class="login__button">
                <div>
                    <span class="login__account login__account--account">Don't Have an Account?</span>
                    <span class="login__signin login__signin--signup" id="sign-up"><a href="/signup">Sign Up</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
